*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
sample/debug
sample/release
.idea/jarRepositories.xml
.idea/discord.xml
build
.idea/kotlinc.xml
.idea/deploymentTargetDropDown.xml
.idea/migrations.xml
